<div class="modal-overlay hidden" id="confirmModal">
  <div class="modal">
    <h3 id="modalTitle"></h3>
    <p id="modalMessage"></p>

    <div class="modal-actions">
      <button
        type="button"
        class="btn btn-secondary"
        id="cancelModal"
      >
        Cancel
      </button>

      <button
        type="button"
        class="btn btn-danger"
        id="confirmModalBtn"
      >
        Delete
      </button>
    </div>
  </div>
</div>