<%- include("partials/header", { title: "Dashboard" }) %>

<div class="page-container">
    <h1>Dashboard</h1>

    <p>Welcome, <%= currentUser.username %></p>
</div>

<%- include("partials/footer") %>